.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #DAF7A6;
}

.navbar {
    background-color: #F7DC6F;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #DAF7A6;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ffffff
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #F0B27A;
}
