<div class="row">
  <div class="col-md-6">
    <h1>Plugins</h1>
  </div>
  <div class="col-md-6">
    <%= link_to 'Sync', plugins_sync_path, class: "m-t-20 pull-right btn btn-success", id: "sync_btn"%>
  </div>
</div>

<table data-classes="table table responsive" data-toggle="table" data-search='true'>
  <thead>
    <tr>
      <th data-sortable="true">Name</th>
      <th data-sortable="true">Latest version</th>
    </tr>
  </thead>

  <tbody>
    <% @plugins.each do |plugin| %>
      <tr>
        <td><%= plugin.name %></td>
        <td><%= plugin.latest_version %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
